<!-- confirmation.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1>Success</h1>
    </header>
    <main>
        <p>Customer <%= message %> successfully!</p>
        <button onclick="location.href='/'">Return to Home</button>
    </main>
</body>
</html>
    